@font-face {
    font-family: 'Bahamas';
    src: url('BahamasBold.woff2') format('woff2'),
        url('BahamasBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahamas';
    src: url('BahamasPSMT.woff2') format('woff2'),
        url('BahamasPSMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahamas';
    src: url('BahamasPlain.woff2') format('woff2'),
        url('BahamasPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahamas';
    src: url('BahamasPSMT.woff2') format('woff2'),
        url('BahamasPSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

